@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ! Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-black: #3a3a3a;
  --text-gray: #787885;
  --btn-color: #e02c6d;
  --footer-background-color: #0a0826;
}

/* ! */
/* ! */
/* ! */
/* ! */
/* ! */

/* ! Header styles */
header {
  max-width: 1240px;
  margin: 0 auto;
  padding: 85px 10px;
}

/* ? nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-black);
}

.burger-menu-icon {
  display: none;
}

.nav-items-and-icons {
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-items-and-icons ul {
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-items-and-icons ul li {
  list-style: none;
}

.nav-items-and-icons ul li a {
  text-decoration: none;
  color: var(--text-black);
  font-size: 1rem;
  font-weight: 600;
}

.nav-items-and-icons svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* ? Banner styles */
.banner-section {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
}

.banner-text {
  max-width: 585px;
}

.banner-title {
  font-size: 3.25rem;
  color: var(--text-black);
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 16px;
}

.banner-description {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-black);
  margin-bottom: 16px;
}

.banner-img {
  background-image: url("./assets/images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 95%;
  background-position: center;
  padding: 40px 30px;
}

.banner-btn {
  display: flex;
  gap: 12px;
  align-items: center;
  border: transparent;
  background-color: var(--btn-color);
  color: #fff;
  font-size: 1rem;
  padding: 10px 25px;
  border-radius: 40px;
  cursor: pointer;
}

@keyframes left-arrow-move-on-hover {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

.banner-btn:hover svg {
  animation: left-arrow-move-on-hover 0.7s linear alternate infinite;
}

.banner-btn svg {
  font-size: 1.3rem;
}

/* ! Main styles */
/* ? affiliated companies section styles */
main {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.affiliated-companies-sections {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 0;
}

/* ? Popular collection section styles */
.popular-collection {
  margin-top: 100px;
}

.popular-collection .section-header {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-black);
  margin-bottom: 30px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  padding: 17px 14px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 5px;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 16px;
  color: var(--text-black);
}

.card-price {
  font-size: 1.5rem;
  margin-top: 6px;
  font-weight: normal;
  color: var(--text-black);
}

.card-rating {
  display: flex;
  gap: 3px;
  align-items: center;
}

.card-rating span {
  display: inline-block;
  margin-left: 6px;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--text-gray);
}

.card-description {
  font-size: 0.875rem;
  color: var(--text-gray);
  line-height: 1.43;
  max-width: 200px;
  font-weight: bold;
  margin-top: 10px;
}

/* ! */
/* ! */
/* ! */
/* ! */
/* ! */

/* ! Responsive styles */

/* ? small screens */
@media screen and (max-width: 576px) {
  header {
    padding: 35px 16px;
  }

  .burger-menu-icon {
    display: inline-block;
    font-size: 1.5rem;
  }

  .nav-items-and-icons ul,
  .search-icon {
    display: none;
  }

  .banner-section {
    flex-direction: column-reverse;
    margin-top: 24px;
    text-align: center;
    gap: 14px;
  }

  .banner-title {
    font-size: 1.75rem;
  }

  .banner-description {
    font-size: 0.875rem;
    padding: 0 4px;
    margin-bottom: 20px;
  }

  .banner-btn {
    margin: 0 auto;
  }

  .banner-img img {
    width: 100%;
  }

  .affiliated-companies-sections {
    border: transparent;
  }
}

/* ? Medium screens */
@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    padding: 35px 16px;
  }

  .burger-menu-icon {
    display: inline-block;
    font-size: 1.5rem;
  }

  .nav-title {
    flex-grow: 2;
    text-align: center;
    margin-left: 50px;
  }

  .nav-items-and-icons ul {
    display: none;
  }
}
